asn1crypto==1.3.0
astroid==2.3.3
attrs==19.3.0
backcall==0.1.0
backports-abc==0.5
bcrypt==3.1.7
beautifulsoup4==4.8.2
bleach==3.1.0
Bottleneck==1.3.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
decorator==4.4.1
defusedxml==0.6.0
docutils==0.16
endesive==1.5.9
entrypoints==0.3
et-xmlfile==1.0.1
fonttools==4.12.1
fpdf==1.7.2
html5lib==1.0.1
idna==2.8
importlib-metadata==1.3.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
isort==4.3.21
jdcal==1.4.1
jedi==0.15.2
Jinja2==2.11.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.1
lazy-object-proxy==1.4.3
lxml==4.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
more-itertools==8.0.2
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numexpr==2.7.1
numpy==1.18.1
openpyxl==3.0.2
oscrypto==1.2.0
packaging==20.1
pandas==1.0.1
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.5.2
path.py==12.0.1
pbr==5.4.4
pdf-annotate==0.11.0
pdfrw==0.4
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.1.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pycparser==2.19
Pygments==2.5.2
PyKCS11==1.5.8
pylint==2.4.4
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrsistent==0.15.6
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
pyzmq==18.1.1
requests==2.22.0
scipy==1.4.1
Send2Trash==1.5.0
setuptools-scm==3.4.3
singledispatch==3.4.0.3
six==1.14.0
soupsieve==1.9.5
SQLAlchemy==1.3.13
tables==3.6.1
terminado==0.8.3
testpath==0.4.4
tornado==5.1
traitlets==4.3.3
typed-ast==1.4.0
urllib3==1.25.8
Wand==0.6.1
wcwidth==0.1.7
webencodings==0.5.1
wrapt==1.11.2
xlrd==1.2.0
xlwt==1.3.0
zipp==0.6.0
